@page
@{
    //ViewData["Title"] = "GetDeck";
    //Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div>
    <div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9" style="column-count: auto">
                <div class="deck-text-maindeck">
                    <ul class="accordion">
                        @foreach (var cardId in ViewBag.Deck.MainDeck)
                        {
                            var card = Helpers.CardSearch.GetCardByMultiverseId(int.Parse(cardId.Card.ToString()));

                            <li>@cardId.Count<span>x</span> @card.name</li>

                        }
                    </ul>
                </div>
                <div class="deck-text-sideboard">
                    <ul class="accordion">
                        @foreach (var cardId in ViewBag.Deck.SideBoard)
                        {
                            var card = Helpers.CardSearch.GetCardByMultiverseId(int.Parse(cardId.Card.ToString()));

                            <li>@cardId.Count<span>x</span> @card.name</li>
                        }
                    </ul>
                </div>
            </div>
        </div><!--deckcontainer-->
    </div>
</div>
