@page
@model TCGUABot.Pages.Tournaments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.PlannedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.PlannedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.IsLocked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsLocked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.IsClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.IsClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.CreatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.CreatorId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tournament.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
