@page
@model TCGUABot.Pages.Trading.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PlayerTelegramId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PlayerTelegramId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Edition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Edition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EditionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EditionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.isFoil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.isFoil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Lang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Lang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Wts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Wts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.isDeliverable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.isDeliverable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliveryService)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliveryService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ExchangeRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ExchangeRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.isOpen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.isOpen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.LastModified)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
